@font-face {
    font-family: 'Chunkfive';
    src: url('Fonts/chunkfive.ttf') format('truetype');
}

@font-face {
    font-family: 'Oswald-Regular';
    src: url('Fonts/Oswald-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway';
    src: url('Fonts/Raleway-Light.ttf') format('truetype');
}

@font-face{
    font-family: 'Nunito';
    src: url('Fonts/Nunito/Nunito-Regular.ttf') format('truetype');
}

body {
    background-color: #222222;
}

#nav {
    background-color: #222222;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    height: 304px;
    z-index: 1;
    opacity: .9;
}

:target:before {
    content: "";
    display: block;
    height: 50px;
    /* fixed header height*/
    margin: -50px 0 0;
    /* negative fixed header height */
}

.navCollapsed {
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    height: 50px !important;
    overflow: hidden !important;
    opacity: 1 !important;
}

.link {
    position: relative;
    height: 50px;
    width: 100%;
}

.link a {
    text-decoration: none;
    font-family: Raleway;
    font-size: 10pt;
    height: 100%;
    position: absolute;
    width: 100%;
}

.link h4 {
    margin: 0px;
    text-align: center;
    color: white;
    font-family: Raleway;
    width: 100%;
    padding-top: 13px;
    position: absolute;
    font-size: 12pt;
}

.link h4:hover {
    color: #808080;
}

.linkTop {
    border-bottom: .01em solid #9c9c9c;
    position: relative;
    height: 50px;
    width: 100%;
    opacity: 1 !important;
}

.linkIcon {
    width: 33px;
    height: auto;
    padding-left: 25px;
    padding-top: 10px;
    float: left;
}

.menuIcon {
    width: 31px;
    height: auto;
    padding-left: 9px;
    padding-top: 16px;
    float: left;
    visibility: visible;
}

.section {
    position: relative;
    left: 0px;
    margin: 0PX;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 105%;
    left: -8px;
}

#title {
    position: absolute;
    top: 42%;
    left: 50%;
    font-family: Nunito;
    font-size: 40pt;
    color: white;
    transform: translate(-50%, -50%);
    text-shadow: 0px 2px 2px black;
}

.imageContainer {
    width: 100%;
    /* border-box includes padding and border in the
                   total width and height of the box */
    box-sizing: border-box;
    text-align: center;
}

.code {
    background: sienna;
    width: 299px;
    margin: auto;
    border-radius: 5px;
    padding: 10px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.keyword {
    color: #f16051;
}

.heading {
    font-family: Nunito;
    color: #f3fe69;
    font-size: 30px;
    text-decoration: underline;
}

#landingPage {
    background-color: #1C1B19;
    position: relative;
    height: auto;
    margin-top: -5px;
    padding-bottom: 30px;
    text-align: center;
    padding-top: 25px;
    font-family: Nunito;
    color: #91964e;
    font-size: 30px;
    margin-top: 30px;
}

#btnDemo{
    display: block;
margin: auto;
height: 30px;
width: 100px;
background-color: yellow;
border: none;
border-radius: 16px;
font-family: Nunito;
font-size: medium;
}
#btnCode{
    display: block;
margin: auto;
height: 30px;
width: 100px;
background-color:yellow;
border: none;
border-radius: 16px;
font-family: Nunito;
font-size: medium;
}
.title{
    font-size: 46pt;
}
#Introduction {
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#Introduction p {
    width: 80%;
    margin: auto;
}

#Setup {
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1C1B19;
}

#Setup p {
    width: 80%;
    margin: auto;
    line-height: 25px;
}

#Instructions {
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#Instructions p {
    width: 80%;
    margin: auto;
    line-height: 25px;
}

a {
    color: lightblue;
}

#table {
    margin-top: 20px;
    width: 90%;
    margin-left: 55px;
}

.gallery {
    width: 40%;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    vertical-align: top;
    margin:20px;
}

.gallery2 {
    width: 25%;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    vertical-align: top;
    margin: 20px;
}

.tutorialPic {
    width: 40%;
    display: inline-block;
    border-radius: 5px;
    margin: 7px;
    border: 1px solid white;
}

#Summary {
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1C1B19;
}

#Summary p {
    width: 80%;
    margin: auto;
    line-height: 25px;
}

#footer {
    position: relative;
    bottom: 0px;
    height: 50px;
    width: 105%;
    background-color: #222222;
    left: -8px;
    text-align: center;
    font-family: Oswald-Regular;
    color: white;
    padding-top: 19px;
}

@media screen and (min-width: 1100px) {
    .menuIcon {
        visibility: hidden;
    }
    .link {
        width: 18%;
        float: left;
        padding-left: 20px;
        padding-top: 2px;
    }
    .linkTop {
        float: left;
        width: 5px;
    }
}

#nav :not(.navCollapsed) {
    opacity: 1;
}

@media screen and (min-width: 600px) {
    .formSection {
        display: inline-block;
        vertical-align: top;
    }
}